.presente {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tampa {
    width: 100px;
    height: 25px;
    background-color: #7aa944;
}

.corpo {
    width: 90px;
    height: 60px;
    background-color: #5c7e32;
    position: relative;
}

.corpo::before, .corpo::after {
    content: "";
    display: block;
    position: absolute;
    background-color: red;
}

.corpo::before {
    width: 15px;
    height: 85px;
    top: -25px;
    left: 35px;
}
.corpo::after {
    width: 90px;
    height: 15px;
    bottom: 30px;
    right: 0;
}